@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6b21a8;
  font-family: 'Inter', Arial, sans-serif; /* Added fallback fonts */
}

.dark {
  --primary-color: #a855f7;
}
